@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}

/* HEADER */
header{
    background-color: rgba(255, 255, 255, 0.363);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    height: 120px;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
}
header #logo img{
    max-width: 110px;
    width: 100%;
    object-fit: contain;
}
header .icons{
    max-width: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}
header .icons a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    transition: .5s;
}
header .icons a:hover{
    color: yellow;
}
header nav{
    background-color: none;
    max-width: 400px;
    width: 100%;
}
header nav ul{
    display: flex;
    background: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
header nav ul a{
    text-decoration: none;
    color: black;
    background-color: none;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    transition: .4s;
}
header nav ul a:nth-child(1), header nav ul a:nth-child(2), header nav ul a:nth-child(3){
    width: 33%;
}
header nav ul a li{
    list-style-type: none;
    padding: 10px 12px;
    font-size: 20px;    
}
header nav ul a:hover{
    background-color: rgba(0, 0, 0, 0.158);
}
.menuResponsivo.display{
    display: none;
}

.menuResponsivoIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 35px;
    display: none;
    margin-right: 20px;
}
.menuResponsivo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.menuResponsivo .principalResponsivo{
    max-width: 900px;
    width: 100%;
    height: 100vh;
    background-color: rgb(49, 48, 48);
}
.menuResponsivo .principalResponsivo .headerResponsivo{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}
.menuResponsivo .principalResponsivo .headerResponsivo img{
    max-width: 100px;
    width: 100%;
    object-fit: contain;
}
.menuResponsivo .principalResponsivo .itensResponsivo{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
}
.menuResponsivo .principalResponsivo .itensResponsivo ul{
    background-color: rgb(49, 48, 48);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    padding: 0 20px;
}
.menuResponsivo .principalResponsivo .itensResponsivo ul a{
    text-decoration: none;
    color: black;
    background-color: transparent;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    transition: .5s;
    border-bottom: 3px solid #d5b93e;
    color: white;
}
.menuResponsivo .principalResponsivo .itensResponsivo ul a:nth-child(1){
    margin-top: 50px;
}
.menuResponsivo .principalResponsivo .itensResponsivo ul a li{
    list-style: none;
}
.menuResponsivo .principalResponsivo .itensResponsivo ul a:hover{
    background-color: orange;
}

/* Responsividade */
@media(max-width: 750px){
    nav, header .icons{
        display: none;
    }
    .menuResponsivoIcon{
        display: block;
        z-index: 10;
    }
}
@media(min-width: 751px){
    .menuResponsivo{
        z-index: -10000;
        display: none;
    }
    .menuResponsivo .principalResponsivo{
        display: none;
    }
}

.white{
    color: white;
}
/* FIM HEADER */


/* Main */

main{
    background-color: yellow;
    width: 100%;
    height: 100vh;
    max-width: auto;
    position: absolute;
    top: -1px;
    font-family: 'Exo 2', sans-serif;   
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}
main > section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;

}
main section.background1{
    width: 100%;
    object-fit: cover;
    height: 100vh;
    background: url(../img/imgHome/RETROVILLE.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}
main section.background1 p{
    position: absolute;
    top: calc(120px + 50px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 55px;
    font-weight: 700; 
}
main section.background1 a{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 15px 30px;
    font-weight: bold;
    transition: .5s;
    border-radius: 5px;
    text-align: center;
}
main section.background1 a:hover{
    background-color: rgba(255, 217, 0, 0.841);
    color: black;
}


main section.background1:nth-child(2){
    width: 100%;
    object-fit: cover;
    height: 100vh;
    background: url(../img/imgHome/background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}
/* FIM Main */


/* FOOTER */
