@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}

body{
    color: #171a20;
    font-family: 'M PLUS 1p', sans-serif;
    background-color: rgb(230, 230, 230);
    position: relative;
}
/* HEADER */
header{
    background-color: rgba(255, 255, 255, 0.363);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    height: 120px;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
}
header #logo img{
    max-width: 110px;
    width: 100%;
    object-fit: contain;
}
header .icons{
    max-width: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5px;
}
header .icons a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    transition: .5s;
    margin-right: 10px;
}
#logout{
    color: white;
    background-color: rgb(46, 44, 44);
    border: none;
    border-radius: 4px;
    width: 70px;
    font-size: 12px;
    padding: 8px;
    transition:all 0.5s ease;
}
#logout:hover{
    color: white;
    background-color: rgb(202, 121, 29);
}
header .icons a:hover{
    color: yellow;
}
header nav{
    background-color: none;
    max-width: 400px;
    width: 100%;
}
header nav ul{
    display: flex;
    background: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
header nav ul a{
    font-family: 'Martian Mono';
    text-decoration: none;
    color: black;
    background-color: none;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    transition: .4s;
    margin-right: 20px;
}
header nav ul a:nth-child(1), header nav ul a:nth-child(2), header nav ul a:nth-child(3){
    width: 33%;
}
header nav ul a li{
    list-style-type: none;
    padding: 10px 12px;
    font-size: 16px;    
}
header nav ul a:hover{
    background-color: rgba(0, 0, 0, 0.158);
}
.menuResponsivo.display{
    display: none;
}

.menuResponsivoIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 35px;
    display: none;
    margin-right: 20px;
    color: white;
}
.menuResponsivo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.menuResponsivo .principalResponsivo{
    max-width: 900px;
    width: 100%;
    height: 100vh;
    background-color: rgb(49, 48, 48);
}
.menuResponsivo .principalResponsivo .headerResponsivo{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}
.menuResponsivo .principalResponsivo .headerResponsivo img{
    max-width: 100px;
    width: 100%;
    object-fit: contain;
}
.menuResponsivo .principalResponsivo .itensResponsivo{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
}
.menuResponsivo .principalResponsivo .itensResponsivo ul{
    background-color: rgb(49, 48, 48);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    padding: 0 20px;
}
.menuResponsivo .principalResponsivo .itensResponsivo ul a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    transition: .5s;
    border-bottom: 3px solid #d5b93e;
}
.menuResponsivo .principalResponsivo .itensResponsivo ul a:nth-child(1){
    margin-top: 50px;
}
.menuResponsivo .principalResponsivo .itensResponsivo ul a li{
    list-style: none;
}
.menuResponsivo .principalResponsivo .itensResponsivo ul a:hover{
    background-color: orange;
}

/* Responsividade */
@media(max-width: 750px){
    nav, header .icons{
        display: none;
    }
    .menuResponsivoIcon{
        display: block;
        z-index: 101010101;
    }
}
@media(min-width: 751px){
    .menuResponsivo{
        z-index: -10000;
        display: none;
    }
    .menuResponsivo .principalResponsivo{
        display: none;
    }
}


/* FIM HEADER */



/* SECTION */
#section{
    width: 100%;
    height: 1100px;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#section .boxLogin{
    width: 70%;
    height: 70%;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 150px;
}
@media(max-width:750px){
    #section{
        height: auto;
    }
    #section .boxLogin{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 1500px;
        margin-top: 120px;
    }

    #section .boxLogin .sigIn form, 
    #section .boxLogin .logIn form{
        height: 60% !important;
        width: 100% !important;
    }
    
    /*#section .boxLogin .sigIn{
       height: 60%;
    }
    #section .boxLogin .sigIn h2, #section .boxLogin .logIn h2{
        font-size: 32px;
    }
    #section .boxLogin .sigIn form, #section .boxLogin .logIn form{
        width: 90%;
    }
    #section .boxLogin .sigIn form input,
    #section .boxLogin .logIn form input{
        width: 100%;
    }*/
}

#section .boxLogin .logIn{
    background-color: rgb(110, 110, 110);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
#section .boxLogin .sigIn{
    background-color: rgb(110, 110, 110);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    
}
#section .boxLogin .sigIn h2, #section .boxLogin .logIn h2{
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 30px;
    font-size: 52px;
}
#section .boxLogin .logIn h2{
    color: rgba(255, 255, 255, 0.75);
}
#section .boxLogin .sigIn form, #section .boxLogin .logIn form{
    background-color: transparent;
    width: 350px;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    position: relative;
}
#section .boxLogin .sigIn form label, #section .boxLogin .logIn form label{
    font-size: 20px;
}
#section .boxLogin .logIn form label, #section .boxLogin .sigIn form label{
    color: rgba(255, 255, 255, 0.75);
}
#section .boxLogin .sigIn form input,
#section .boxLogin .logIn form input {
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    background-color: rgb(111, 109, 109);
    color: yellow;
}

#section .boxLogin .sigIn form #btnCadastrar,
#section .boxLogin .logIn form #btnEntrar {
    width: 92%;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    cursor: pointer;
    bottom: 20px;
    transition: .7s;
}
#section .boxLogin .sigIn form #btnCadastrar:hover, 
#section .boxLogin .logIn form #btnEntrar:hover{
    background-color: rgba(255, 238, 0, 0.804);
    color: black;
}


#section .boxLogin .sigIn .imgFundo1{
    background-image: url(../img/h11.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    opacity: 0;
    background-size: cover;
    background-position: center;
    transition: 1.5s;
    /* https://cdn.motor1.com/images/mgl/Akm7E9/416:0:3554:2668/2024-porsche-911-s-t.webp */
}

#section .boxLogin .logIn .imgFundo1{
    background-image: url(../img/h4.jpeg);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-size: cover;
    background-position: center;
    transition: 1.5s;
}

#section .boxLogin .sigIn .btn, #section .boxLogin .logIn .btn{
    background-color: rgb(96, 93, 93);
    font-size: 16px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 20px;
    position: relative;
    transition: .7s;
    color: white;
}
/*#section .boxLogin .sigIn .btn:before{
    content: '';
    width: 50%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.514);
    border-radius: 20px;
    position: absolute;
    top: 0px;
    left: 0;
}*/

section .boxLogin .sigIn .btn .transicao{
    width: 50%;
    height: 100%;
    background-color: rgba(255, 238, 0, 0.804);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    transition: .5s;
}
section .boxLogin .logIn .btn .transicao{
    width: 50%;
    height: 100%;
    background-color: rgba(255, 238, 0, 0.804);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
    transition: .5s;
}


.msgInvalido{
    font-size: 19px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    margin-top: 190px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.msgValido{
    font-family: 'Martian Mono';
    font-size: 15px;
    background-color: #e2ebcc;
    border-color: #e2ebcc;
    color: #57a942;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    margin-top: 190px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}