@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');


html{
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: rgb(230, 230, 230);
}

/* HEADER */
header{
    background-color: rgba(0, 0, 0, 0.71);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    height: 120px;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 100px;
    font-family: 'Inclusive Sans';
}
header #logo img{
    max-width: 110px;
    width: 100%;
    object-fit: contain;
}
header .icons{
    max-width: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}
header .icons a{
    text-decoration: none;
    color: rgb(233, 229, 229);
    font-size: 25px;
    transition: .5s;
    margin-right: 10px;
}
header .icons a:hover{
    color: yellow;
}
header nav{
    background-color: none;
    max-width: 400px;
    width: 100%;
}
header nav ul{
    display: flex;
    background: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#logout{
    color: white;
    background-color: rgb(46, 44, 44);
    border: none;
    border-radius: 4px;
    width: 70px;
    font-size: 12px;
    padding: 8px;
    transition:all 0.5s ease;
}
#logout:hover{
    color: white;
    background-color: rgb(202, 121, 29);
}
header nav ul a{
    text-decoration: none;
    color: rgb(254, 248, 248);
    background-color: none;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    transition: .4s;
    margin-right: 20px;
}
header nav ul a:nth-child(1), header nav ul a:nth-child(2), header nav ul a:nth-child(3){
    width: 33%;
}
header nav ul a li{
    list-style-type: none;
    padding: 10px 12px;
    font-size: 20px;   
    margin-right: 10px; 
}
header nav ul a:hover{
    background-color: rgba(239, 231, 231, 0.158);
}
.menuResponsivo.display{
    display: none;
}

.menuResponsivoIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 35px;
    display: none;
    margin-right: 20px;
}
.menuResponsivo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.menuResponsivo .principalResponsivo{
    max-width: 900px;
    width: 100%;
    height: 100vh;
    background-color: rgb(49, 48, 48);
}
.menuResponsivo .principalResponsivo .headerResponsivo{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}
.menuResponsivo .principalResponsivo .headerResponsivo img{
    max-width: 100px;
    width: 100%;
    object-fit: contain;
}
.menuResponsivo .principalResponsivo .itensResponsivo{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
}
.menuResponsivo .principalResponsivo .itensResponsivo ul{
    background-color: rgb(49, 48, 48);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    padding: 0 20px;
}
.menuResponsivo .principalResponsivo .itensResponsivo ul a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    transition: .5s;
    border-bottom: 3px solid #d5b93e;
}
.menuResponsivo .principalResponsivo .itensResponsivo ul a:nth-child(1){
    margin-top: 5px;
}
.menuResponsivo .principalResponsivo .itensResponsivo ul a li{
    list-style: none;
}
.menuResponsivo .principalResponsivo .itensResponsivo ul a:hover{
    background-color: orange;
}

/* Responsividade */
@media(max-width: 750px){
    nav, header .icons{
        display: none;
    }
    .menuResponsivoIcon{
        display: block;
        z-index: 10;
        color: white;
    }
}
@media(min-width: 751px){
    .menuResponsivo{
        z-index: -10000;
        display: none;
    }
    .menuResponsivo .principalResponsivo{
        display: none;
    }
}
/* FIM HEADER */


/*SOBRE NÓS*/
h1{
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Martian Mono';
    font-size: 50px;
    color: rgb(51, 51, 50)
}
#integrantes{
    margin-top: 80px;
}

.box-text{
    width: 50%;
    /*border: solid 2px black;*/
    margin: 0 auto;
    font-family: 'STIX Two Text';
    font-size: 20px;    
    height: 47vh;
}

.box-text p{
    margin: 20px 20px 60px 20px;
    text-align: justify;
}

.box-fotos{
    width: 80%;
    /*border: solid 2px black;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
}

.fotos{
    background-color:rgb(202, 164, 88);
    width: 400px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
    margin: 20px;
    border-radius: 5px;
}

.fotos img{
    width: 400px;
    height: 400px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.fotos .nomes{
    margin-top: 20px;
    font-family: 'STIX Two Text';
    font-size: 23px;
    color: black;
}

.funcao{
    font-family: 'STIX Two Text';
    font-size: 20px;
    background-color: rgb(24, 23, 23);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    cursor:default;
}

@media(max-width:1024px){
    .box-text{
        width: 80%;
        margin-bottom: 20%;
    }
}


@media(max-width:540px){
    h1{
        font-size: 30px;
    }

    .box-text{
        width: 80%;
        margin-bottom: 90%;
    }

    .fotos{
        background-color:rgb(202, 164, 88);
        width: 250px;
        height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items:center;
        margin: 20px;
        border-radius: 5px;
    }

    .fotos img{
        width: 250px;
        height: 250px;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .fotos .nomes{
        margin-top: 20px;
        font-family: 'STIX Two Text';
        font-size: 17px;
        color: black;
    }
    
    .funcao{
        font-family: 'STIX Two Text';
        font-size: 14px;
        background-color: rgb(24, 23, 23);
        padding: 10px;
        border-radius: 5px;
        margin-top: 20px;
        color: white;
        cursor:default;
    }
    #integrantes{
        margin-top: 40px;
    }
}

@media(max-width:390px){
    .box-text{
        width: 80%;
        margin-bottom: 110%;
    }
}

@media(max-width:390px){
    .box-text{
        width: 80%;
        margin-bottom: 167%;
    }
}


@media(max-width:280px){
    h1{
        font-size: 30px;
    }

    .box-text{
        width: 95%;
        margin-bottom: 700px;
    }

    .fotos{
        background-color:rgb(202, 164, 88);
        width: 250px;
        height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items:center;
        margin: 20px;
        border-radius: 5px;
    }

    .fotos img{
        width: 250px;
        height: 250px;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .fotos .nomes{
        margin-top: 20px;
        font-family: 'STIX Two Text';
        font-size: 17px;
        color: black;
    }
    
    .funcao{
        font-family: 'STIX Two Text';
        font-size: 14px;
        background-color: rgb(24, 23, 23);
        padding: 10px;
        border-radius: 5px;
        margin-top: 20px;
        color: white;
        cursor:default;
    }
}


.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.box{
    position: relative;
    width: 400px;
    height: 500px;
    background: rgba(0,0,0,0.2);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 540px){
    .box{
        width: 280px;
        height: 350px;
    }
}
.box::before, 
.box::after{
    content: '';
    position: absolute;
    background: linear-gradient(315deg, #2c2800, #443200);
    inset: -80px 100px;
    transition: 0.5s;
    filter: hue-rotate(calc(var(--i) * 120deg));
    animation: animate 8s linear infinite;
}
.box::after{
    background: linear-gradient(315deg, #ffeb3b, #e9cb1e);
    filter: hue-rotate(calc(var(--i) * 120deg));
    animation-delay: -2s;
}

.box:hover::before, 
.box:hover::after{
    animation-play-state: paused;
    inset: -80px 80px;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box i{
    position: absolute;
    inset: 5px;
    background: rgb(230, 230, 230);
    z-index: 1;
}
.box .content{
    position: absolute;
    inset: 10px;
    background: #0d122c;
    border: 3px solid #070c23;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-size: cover;
}
.box .content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    z-index: 3;
    pointer-events: none;
}
.box:hover .content img{
    opacity: 0;
}
.box .content h2{
    position: relative;
    z-index: 2;
    font-size: 1.25em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.25em;
    text-transform: uppercase;
}
.box .content h2 span{
    font-weight: 300;
    font-size: 0.75em;
}
.box .content a{
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    color: #070a1c;
    border-radius: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
}
.box .content a:hover{
    letter-spacing: 0.2em;
}

















/*RODAPÉ FOOTER*/
footer{
    margin-top: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.71);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    
}

#box-footer{
    color: white;
    font-family: 'Inclusive Sans';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.box-item-footer{
    width: 300px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box-item-footer p{
    font-size: 23px;
}

.logo{
    width: 150px;
}

.fa-brands{
    font-size:28px;
    margin:0px 0px 0px 15px;
    transition: all 0.5s ease;
    /*border: solid 2px green;*/
}

.link-redes{
    color: white;
    text-decoration: none;
}

.fa-brands:hover{
   color: rgb(204, 204, 28);
}

.p-redes-sociais{
    margin-right: 5px;
}

@media(max-width: 850px){
    .p-1{
        display: none;
    }

    .fa-brands{
        margin-top: 5px;
    }
}

@media(max-width:412px){
    .box-item-footer{
        width: 100px;
        display: flex;
        flex-wrap: wrap;
    }

    footer{
        /*border: solid 2px black;*/
    }

    .fa-brands{
        font-size:17px;
    }

    .box-item-footer{
        font-size: 16px;
        /*border: 2px solid green;*/
        width:300px
    }

    .box-icons{
        display: flex;
        /*border: 2px solid green;*/
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .iii{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .box-item-footer p{
        font-size: 16px;
        margin: 5px;
    }

    .p-1{
        display: none;
    }

    .logo{
        width: 100px;
    }
}
