<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho - Retroville</title>
    <link rel="stylesheet" href="css/carrinho.css">
</head>
<body>
    <header>
        <div id="logo">
            <img src="img/imgHome/logo.png" alt="Logo">
        </div>
        <nav>
            <ul>
                <a href="CLIENTE/view/produtos.html"><li>Veículos</li></a>
                <a href="#"><li>Sobre</li></a>
                <a href="#"><li>Contato</li></a>
            </ul>
        </nav>
        <div class="icons">
            <a href="logSigin.html"><ion-icon name="person-outline"></ion-icon></a>
            <a href="carrinho.html"><ion-icon name="car-sport-outline"></ion-icon></a>
        </div>
        <div class="menuResponsivoIcon">
            <ion-icon name="menu-outline" id="iconResponsivo"></ion-icon>
        </div>
        <div class="menuResponsivo display">
            <div class="principalResponsivo">
                <div class="headerResponsivo">
                    <img src="img/imgHome/logo.png" alt="Logo">
                </div>
                <div class="itensResponsivo">
                    <ul>
                        <a href="#"><li>Veículos</li></a>
                        <a href="#"><li>Sobre</li></a>
                        <a href="#"><li>Contato</li></a>
                        <a href="logSigin.html"><ion-icon name="person-outline"></ion-icon></a>
                        <a href="carrinho.html"><ion-icon name="car-sport-outline"></ion-icon></a>
                    </ul>
                </div>
            </div>
        </div>
    </header>



<!-- Carrinho de compras1 -->

<h1>Meu carrinho</h1>

<section class="carrinho">
    <div class="informacoes-produto">
        <div class="produto">
            <img src="https://conteudo.imguol.com.br/c/entretenimento/7c/2022/03/14/volkswagen-fusca-1965-1647298960975_v2_4x3.jpg" alt="#">
            <div class="desc-produto">
                <h2 class="rubik">Fusca raridade</h2>
                <p>Peças: Volante, Banco, motor, câmbio.</p>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <p class="preco-carrinho">Preço R$119,90</p>
        </div>
        <div class="produto">
            <img src="https://conteudo.imguol.com.br/c/entretenimento/7c/2022/03/14/volkswagen-fusca-1965-1647298960975_v2_4x3.jpg" alt="#">
            <div class="desc-produto">
                <h2 class="rubik">Fusca raridade</h2>
                <p>Peças: Volante, Banco, motor, câmbio.</p>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <p class="preco-carrinho">Preço R$119,90</p>
        </div>
        <div class="produto">
            <img src="https://conteudo.imguol.com.br/c/entretenimento/7c/2022/03/14/volkswagen-fusca-1965-1647298960975_v2_4x3.jpg" alt="#">
            <div class="desc-produto">
                <h2 class="rubik">Fusca raridade</h2>
                <p>Peças: Volante, Banco, motor, câmbio.</p>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <p class="preco-carrinho">Preço R$119,90</p>
        </div>
    </div>
    <div class="resumo-pedido">
        <h2>Resumo do pedido</h2>

        <div class="sub-total">
            <div id="sub-total">
                <p>Subtotal</p>
                <p>R$ 35,00</p>
            </div>
            <div id="frete">
                <p>Frete</p>
                <p>Grátis</p>
            </div>
        </div>
        <div class="total">
            <div id="total">
                <p>Total</p>
                <p>R$ 35,00</p>
            </div>
            <button type="button" class="btn btn-outline-warning btn-lg btn-block">Adicionar outro produto</button>
            <button type="button" class="btn btn-outline-success btn-lg btn-block">Comprar</button>
        </div>
    </div>
</section>




<!-- FIM Carrinho de compras1 -->



    <script>
        let btn = document.querySelector('.menuResponsivoIcon');
        let menuMobile = document.querySelector('.menuResponsivo');
        var width = document.documentElement.clientWidth;
        var iconResponsivo = document.getElementById('iconResponsivo');

        btn.addEventListener('click', () => {
            menuMobile.classList.toggle('display');
            iconResponsivo.classList.toggle('white');
        });
        

    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>