<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/produtosStyle.css" rel="stylesheet">
    <title>Produtos</title>
</head>
<body>
  
    <footer>
        <div id="box-footer">
            <div class="box-item-footer">
                <img src="img/imgHome/logo.png" alt="Logo" class="logo">
            </div>

            <div class="box-item-footer">
                <p>Direitos Autorais - ©</p>
            </div>

            <div class="box-item-footer">
                <p>
                    <p class="p-redes-sociais">Redes Sociais:</p>
                    <a href="" class="link-redes">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="" class="link-redes">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="" class="link-redes">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                </p>
            </div>
            <!--<img src="img/imgHome/logo.png" alt="Logo">-->
        </div>
    </footer>

</body>
</html>