<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto - Retroville</title>
    <link rel="stylesheet" href="css/produtoStyle.css">
</head>
<body>
    <header>
        <div id="logo">
            <img src="img/imgHome/logo.png" alt="Logo">
        </div>
        <nav>
            <ul>
                <a href="CLIENTE/view/produtos.html"><li>Veículos</li></a>
                <a href="#"><li>Sobre</li></a>
                <a href="#"><li>Contato</li></a>
            </ul>
        </nav>
        <div class="icons">
            <a href="logSigin.html"><ion-icon name="person-outline"></ion-icon></a>
            <a href="carrinho.html"><ion-icon name="car-sport-outline"></ion-icon></a>
        </div>
        <div class="menuResponsivoIcon">
            <ion-icon name="menu-outline"></ion-icon>
        </div>
        <div class="menuResponsivo display">
            <div class="principalResponsivo">
                <div class="headerResponsivo">
                    <img src="CLIENTE/view/img/imgHome/logo.png" alt="Logo">
                </div>
                <div class="itensResponsivo">
                    <ul>
                        <a href="#"><li>Veículos</li></a>
                        <a href="#"><li>Sobre</li></a>
                        <a href="#"><li>Contato</li></a>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main id="sectionProduto">
        <section id="sectionPrincipal">

        </section>
        <section id="sectionHistoria">
            <div class="tituloHistoria">
                <h1>UMA HISTÓRIA CLÁSSICA</h1>
            </div>
            <div class="textoHistoria">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi omnis, doloribus rerum voluptatibus perferendis praesentium ea laborum fugiat libero deserunt. Sapiente impedit earum porro provident repellendus inventore officia reprehenderit! Ullam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate saepe numquam, et neque distinctio voluptas recusandae quasi quae odio commodi porro molestias repellat. Eveniet, et neque dolores soluta dignissimos quam.</p>
            </div>
        </section>
        <section class="modelo">
            <h2><span id="ano">2023</span> - Porsche 718 Spyder</h2>
        </section>
        <section class="especificacoes">
            <div class="categoria">
                <div class="titulo">
                    <p>Marca</p>
                </div>
                <div class="resultado">
                    <p>Porsche</p>
                </div>
            </div>
            <div class="categoria">
                <div class="titulo">
                    <p>Marca</p>
                </div>
                <div class="resultado">
                    <p>Porsche</p>
                </div>
            </div>
            <div class="categoria">
                <div class="titulo">
                    <p>Marca</p>
                </div>
                <div class="resultado">
                    <p>Porsche</p>
                </div>
            </div>
            <div class="categoria">
                <div class="titulo">
                    <p>Marca</p>
                </div>
                <div class="resultado">
                    <p>Porsche</p>
                </div>
            </div>
            <div class="categoria">
                <div class="titulo">
                    <p>Marca</p>
                </div>
                <div class="resultado">
                    <p>Porsche</p>
                </div>
            </div>
            <div class="categoria">
                <div class="titulo">
                    <p>Marca</p>
                </div>
                <div class="resultado">
                    <p>Porsche</p>
                </div>
            </div>
            <div class="categoria">
                <div class="titulo">
                    <p>Marca</p>
                </div>
                <div class="resultado">
                    <p>Porsche</p>
                </div>
            </div>
            <div class="categoria">
                <div class="titulo">
                    <p>Marca</p>
                </div>
                <div class="resultado">
                    <p>Porsche</p>
                </div>
            </div>
            <div class="categoria">
                <div class="titulo">
                    <p>Marca</p>
                </div>
                <div class="resultado">
                    <p>Porsche</p>
                </div>
            </div>
            <div class="categoria">
                <div class="titulo">
                    <p>Marca</p>
                </div>
                <div class="resultado">
                    <p>Porsche</p>
                </div>
            </div>
            <div class="categoria">
                <div class="titulo">
                    <p>Marca</p>
                </div>
                <div class="resultado">
                    <p>Porsche</p>
                </div>
            </div>
            <div class="categoria">
                <div class="titulo">
                    <p>Marca</p>
                </div>
                <div class="resultado">
                    <p>Porsche</p>
                </div>
            </div>
        </section>
    </main>




    <script>
        let btnResponsivo = document.querySelector('.menuResponsivoIcon');
        let menuMobile = document.querySelector('.menuResponsivo');
        var width = document.documentElement.clientWidth;

        btnResponsivo.addEventListener('click', () => {
            menuMobile.classList.toggle('display');
        });
        

    </script>
    
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>